@model IEnumerable<InventorySupply.DAL.Models.Warehouse>
@{
    ViewData["Title"] = "Warehouses";
}

<h2>Warehouses</h2>
<a asp-action="Create" class="btn btn-primary">Add Warehouse</a>

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var warehouse in Model)
        {
            <tr>
                <td>@warehouse.Name</td>
                <td>@warehouse.Location</td>
                <td>
                    <a href="@Url.Action("Edit", "Warehouse", new { id = warehouse.WarehouseId })" class="btn btn-warning btn-sm">Edit</a>

                    @* <a asp-action="Edit" asp-route-id="@warehouse.WarehouseId" class="btn btn-sm btn-warning">Edit</a> *@
                    <a href="@Url.Action("Details", "Warehouse", new { id = warehouse.WarehouseId })" class="btn btn-primary btn-sm">Details</a>
                    @* <a asp-action="Delete" asp-route-id="@warehouse.WarehouseId" class="btn btn-sm btn-danger">Delete</a> *@
                    <a href="@Url.Action("Delete", "Warehouse", new { id = warehouse.WarehouseId })" class="btn btn-danger btn-sm">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
